@import "../../assets/css/_common_vw.scss";

.top_header {
    width: 100%; background: white;
    position: relative; 
    padding: 3.62vw;
    h1 {
        width: 100%;
        text-align: center;
        font-size: $px20;
        font-weight: bold;        
    }
    .header_button {
        display: block; 
        width: auto; 
        height:4.83vw;
        position: absolute; 
        top: 50%; 
        left: 3.62vw; 
        transform: translate(0,-50%);

        > img {
            display: block;
            width: auto;
            height: 100%;
        }
    }
}

