<div class="top_header">
  <h1 class="header_tit" >{{top_header_tit}}</h1><!--페이지에 따라 타이틀 바뀜-->
  <button class="header_button side_bar" *ngIf='isHamburger()' (click)="hamburger_click()" >
    <img src="../../assets/image/menu_hamburger.png" alt="메뉴 열기">
  </button>
  <button class="header_button main_back" *ngIf='!isHamburger()'>
    <img src="../../assets/image/icon_back.png" alt="메뉴 열기">
  </button>
</div>
