@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.top_header {
  width: 100%;
  background: white;
  position: relative;
  padding: 3.62vw;
}

.top_header h1 {
  width: 100%;
  text-align: center;
  font-size: 4.83vw;
  font-weight: bold;
}

.top_header .header_button {
  display: block;
  width: auto;
  height: 4.83vw;
  position: absolute;
  top: 50%;
  left: 3.62vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.top_header .header_button > img {
  display: block;
  width: auto;
  height: 100%;
}
/*# sourceMappingURL=top-header.component.css.map */