<div id="overlay" class="overlay"></div>
<div id="wrap" class="side_bar_contents">
  <div class="side_bar_wrap">
    <div class="side_bar_top">
      <button class="close" (click)="hamburger_click()"><img src="../../assets/image/icon_close.png" alt="close"></button>
    </div>
    <ul class="main_menu">
      <li class="main_menu_item on" (click)="toggle_menu($event)">
        <div class="main_menu_item_text">나의로또</div>
        <ul class="sub_menu">
          <li class="sub_menu_item"><a href="/">당첨확인&구입번호 목록</a></li>
          <li class="sub_menu_item"><a href="/">구입번호 직접 입력</a></li>
          <li class="sub_menu_item"><a href="/">생성번호 저장 목록</a></li>
        </ul>
      </li>
      <li class="main_menu_item" (click)="toggle_menu($event)">
        <div class="main_menu_item_text">번호생성</div>
        <ul class="sub_menu">
          <li class="sub_menu_item"><a href="/">랜덤생성</a></li>
          <li class="sub_menu_item"><a href="/">직접생성</a></li>
        </ul>
      </li>
      <li class="main_menu_item" (click)="toggle_menu($event)">
        <div class="main_menu_item_text">번호분석</div>
        <ul class="sub_menu">
          <li class="sub_menu_item"><a href="/">당첨번호&당첨금</a></li>
          <li class="sub_menu_item"><a href="/">번호별 출현 횟수</a></li>
        </ul>
      </li>
    </ul>
    <p class="log_in_out">
      <input type="button" class="log_out" value="로그아웃">
    </p>
  </div>
</div>