@import '../../assets/css/common_vw';
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: -100%;
    z-index: 1;
    background: rgba(0,0,0,0.36);
    opacity: 0;
    transition: opacity 0.5s;

    &.on {
        left: 0;
        opacity: 1;
    }
}
.side_bar_contents {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    transition: all 0.5s;

    
    /* 사이드바 on 스타일*/
    &.sidebar_on {
        left: 0;

        .side_bar_wrap { left: 0; }
    }

    .side_bar_wrap {
        width: 82.13vw;
        height: 100%;
        background: white;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 2;
        transition: left 0.5s;

        .side_bar_top {
            width: 100%;
            padding: $px17;
            border-bottom: 2px solid $basic_green;

            .close {
                display: block;
                width: $px20;
                height: auto;

                > img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .main_menu {
            width: 100%;
            padding: $px20 $px20 0;

            .main_menu_item {
                
                > .main_menu_item_text {
                    font-size: $px22;
                    font-weight: bold;
                    color: #707070;
                    padding-bottom: $px15;
                    background: url(../../assets/image/icon_arrow_down.png) no-repeat right $px12;
                    background-size: $px15 auto;
                }
                .sub_menu {
                    max-height: 0;
                    overflow: hidden;
                    padding: 0;
                    transition: all 0.5s ease-in-out;

                    .sub_menu_item {
                        padding: $px5 0;
                        
                        > a {
                            color: #707070;
                            font-size: $px18;
                            font-weight: normal;
                            letter-spacing: 0;
                        }
                    }
                }

                &.on {
                    margin-bottom: $px40;

                    > .main_menu_item_text {
                        background-image: url(../../assets/image/icon_arrow_up.png);
                        border-bottom: 1px solid #d8d8d8;
                    }
                    .sub_menu { 
                        max-height: 25.36vw;
                        padding: $px5 $px10;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
        .log_in_out {
            padding: $px10 0;
            margin: 0 $px20;
            border-top: 1px solid #d8d8d8;
            text-align: right;

            .log_out {
                background: white;
                border: 0;
                font-size: $px18;
                font-weight: normal;
                color: $basic_green;
                letter-spacing: 0;
            }
        }
    }
}
