@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.side_bar_contents {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.36);
  /* 사이드바 on 스타일*/
}

.side_bar_contents.sidebar_on {
  left: 0;
}

.side_bar_contents.sidebar_on .side_bar_wrap {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.side_bar_contents .side_bar_wrap {
  width: 82.13vw;
  height: 100%;
  background: white;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.side_bar_contents .side_bar_wrap .side_bar_top {
  width: 100%;
  padding: 4.12vw;
  border-bottom: 2px solid #32cd93;
}

.side_bar_contents .side_bar_wrap .side_bar_top .close {
  display: block;
  width: 4.83vw;
  height: auto;
}

.side_bar_contents .side_bar_wrap .side_bar_top .close > img {
  display: block;
  width: 100%;
  height: auto;
}

.side_bar_contents .side_bar_wrap .main_menu {
  width: 100%;
  padding: 4.83vw 4.83vw 0;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item > .main_menu_item_text {
  font-size: 5.31vw;
  font-weight: bold;
  color: #707070;
  padding-bottom: 3.62vw;
  background: url(../../assets/image/icon_arrow_down.png) no-repeat right 2.9vw;
  background-size: 3.62vw auto;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item .sub_menu {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item .sub_menu .sub_menu_item {
  padding: 1.2vw 0;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item .sub_menu .sub_menu_item > a {
  color: #707070;
  font-size: 4.35vw;
  font-weight: normal;
  letter-spacing: 0;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item.on {
  margin-bottom: 9.66vw;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item.on > .main_menu_item_text {
  background-image: url(../../assets/image/icon_arrow_up.png);
  border-bottom: 1px solid #d8d8d8;
}

.side_bar_contents .side_bar_wrap .main_menu .main_menu_item.on .sub_menu {
  max-height: 25.36vw;
  padding: 1.2vw 2.42vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.side_bar_contents .side_bar_wrap .log_in_out {
  padding: 2.42vw 0;
  margin: 0 4.83vw;
  border-top: 1px solid #d8d8d8;
  text-align: right;
}

.side_bar_contents .side_bar_wrap .log_in_out .log_out {
  background: white;
  border: 0;
  font-size: 4.35vw;
  font-weight: normal;
  color: #32cd93;
  letter-spacing: 0;
}
/*# sourceMappingURL=side-bar.component.css.map */