<app-top-header></app-top-header>
<ion-content>
  <!-- .f_e_item 클릭시 지정수는 .fix 붙여주세요!  -->
  <!-- 제외수나 지정수가 추가되거나 빠지는 정보는 < 제외수 지정 / 고정수 지정 >페이지에 둘 다 뿌려주셔야 합니다 -->
  <div id="wrap" class="fix_except_select_contents">
    <ul class="fix_except_select">
      <!-- 1번부터 45번까지 로또볼 시작 -->
      <li class="f_e_item lotto_ball_{{item}}" *ngFor="let item of lotto_arr"><p>{{item}}</p></li>
      <!-- 1번부터 45번까지 로또볼 끝 -->
      <li class="f_e_item fix"><p>46</p></li>
      <li class="f_e_item except"><p>47</p></li>
    </ul>
  </div>
  <app-basic-popup-select></app-basic-popup-select>
</ion-content>