@import '../../assets/css/common_vw';

.fix_except_select_contents {
    width: 100%; 
    height: 100%;

    .fix_except_select {
        @include clearfix;
        padding: $px30;

        .f_e_item {
            @include lotto_ball;
            width: $px40;
            height: $px40;
            margin-bottom: $px12;
            margin-right: $px12;
            background: #f5f5f5;
            border-color: #f5f5f5;
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

            &:nth-child(7n) { margin-right: 0; }
            &.fix { 
                background: #d8d8d8;
                border-color: #b2b2b2;
                > p { color: #8a8a8a; }
            }
            &.except { 
                background: #b3d9ca;
                border-color: #b2b2b2;
                > p { color: #8a8a8a; }
            }
            > p { 
                font-size: $px18; 
                color: #d8d8d8; 
            }
        }
    }
}