<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="win_number_amount_contents">
    <div class="win_info_w">
      <div class="win_info_tit">
        <div class="win_round">
          <p class="this_round">853</p>
          <ul class="round_info">
            <li class="round_info_item automatic">3</li>
            <li class="round_info_item manual">3</li>
            <div class="round_info_item half_auto">1</div>
          </ul>
        </div>
        <div class="first_to_fifth_w swiper-first-to-fifth">
          <ul class="first_to_fifth swiper-wrapper">
            <!-- 각 등수별 리스트 시작 (이 리스트 안에 등,명 같은 단어들은 자동으로 붙게 해뒀습니다. 숫자만 뿌려주세요) -->
            <li class="swiper-slide ftf_item first">
              <div class="grade_info">
                <p class="grade_info_item real_grade">1</p>
                <p class="grade_info_item grade">등</p>
              </div>
              <p class="grade_people_number">1</p>
              <p class="grade_amount">722,885,006,786</p>
            </li>
            <!-- 각 등수별 리스트 끝 -->
            <li class="swiper-slide ftf_item second">
              <div class="grade_info">
                <p class="grade_info_item real_grade">2</p>
                <p class="grade_info_item grade">등</p>
              </div>
              <p class="grade_people_number">90</p>
              <p class="grade_amount">885,006,786</p>
            </li>
            <li class="swiper-slide ftf_item third">
              <div class="grade_info">
                <p class="grade_info_item real_grade">3</p>
                <p class="grade_info_item grade">등</p>
              </div>
              <p class="grade_people_number">190,545</p>
              <p class="grade_amount">5,006,786</p>
            </li>
            <li class="swiper-slide ftf_item third">
              <div class="grade_info">
                <p class="grade_info_item real_grade">4</p>
                <p class="grade_info_item grade">등</p>
              </div>
              <p class="grade_people_number">1,290,545</p>
              <p class="grade_amount">50,000</p>
            </li>
            <li class="swiper-slide ftf_item third">
              <div class="grade_info">
                <p class="grade_info_item real_grade">5</p>
                <p class="grade_info_item grade">등</p>
              </div>
              <p class="grade_people_number">53,190,545</p>
              <p class="grade_amount">5,000</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="win_number_list_w">
      <ul class="win_number_list">
        <!-- 당첨번호 리스트 시작 (회차번호랑 당첨번호 당첨등수 뿌려주심 됩니당) -->
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <!-- 당첨번호 리스트 끝-->
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
        <li class="win_number_item">
          <div class="this_win_round">625</div>
          <ul class="this_win_number">
            <li class="this_win_number_item color_0_yellow"><p>1</p></li>
            <li class="this_win_number_item color_2_red"><p>2</p></li>
            <li class="this_win_number_item color_2_red"><p>21</p></li>
            <li class="this_win_number_item color_1_blue"><p>15</p></li>
            <li class="this_win_number_item color_3_gray"><p>35</p></li>
            <li class="this_win_number_item color_2_red"><p>28</p></li>
            <li class="this_win_number_item color_3_gray"><p>39</p></li>
          </ul>
          <div class="this_win_grade">4</div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>