@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.win_number_amount_contents {
  width: 100%;
  height: 100%;
}

.win_number_amount_contents .win_info_w {
  width: 100%;
  padding: 2.42vw 4.83vw;
  overflow-x: scroll;
  background: #32cd93;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round {
  margin-bottom: 2.42vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .this_round {
  font-size: 4.12vw;
  font-weight: bold;
  color: white;
  float: left;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .this_round::after {
  content: "회 당첨 정보";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info {
  float: right;
  margin-top: 1.2vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item {
  float: left;
  font-size: 2.9vw;
  color: white;
  margin-right: 1vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.automatic::before {
  content: "자동 ";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.automatic::after {
  content: " 명,";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.manual::before {
  content: "수동 ";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.manual::after {
  content: " 명,";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.half_auto::before {
  content: "반자동 ";
}

.win_number_amount_contents .win_info_w .win_info_tit .win_round .round_info .round_info_item.half_auto::after {
  content: " 명";
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w {
  width: 100%;
  padding-bottom: 1vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth {
  display: inline-block;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item {
  display: inline-block;
  min-width: 30.2vw;
  border-radius: 2.42vw;
  margin-right: 2.17vw;
  padding: 2.42vw;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
  background: white;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_info {
  margin-bottom: 1.2vw;
  border-bottom: 1px solid black;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_info::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_info .grade_info_item {
  font-weight: bold;
  color: black;
  float: left;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_info .grade_info_item.real_grade {
  font-size: 4.12vw;
  margin-right: 1.2vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_info .grade_info_item.grade {
  margin-top: 1.2vw;
  font-size: 2.42vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_people_number {
  font-size: 2.42vw;
  font-weight: normal;
  color: #707070;
  text-align: right;
  letter-spacing: 0;
  margin-bottom: 1.2vw;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_people_number::after {
  content: "명";
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_amount {
  font-weight: bold;
  font-size: 2.9vw;
  text-align: right;
  color: #707070;
  letter-spacing: 0;
}

.win_number_amount_contents .win_info_w .win_info_tit .first_to_fifth_w .first_to_fifth .ftf_item .grade_amount::after {
  content: "원";
}

.win_number_amount_contents .win_number_list_w {
  height: 100%;
}

.win_number_amount_contents .win_number_list_w .win_number_list {
  width: 100%;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item {
  width: 100%;
  padding: 5.31vw 4.83vw;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item:nth-child(2n) {
  background: #f9f9f9;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_round {
  height: 8.41vw;
  line-height: 8.41vw;
  font-size: 3.62vw;
  font-weight: bold;
  color: black;
  float: left;
  padding-right: 7.25vw;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number {
  float: left;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number::after {
  content: "";
  clear: both;
  display: table;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  margin-right: 1vw;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item:last-child {
  margin-right: 0;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_0_yellow {
  border-color: #fbc400;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_0_yellow.win {
  background-color: #fbc400;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_0_yellow.win p {
  color: white;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_1_blue {
  border-color: #69c8f2;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_1_blue.win {
  background-color: #69c8f2;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_1_blue.win p {
  color: white;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_2_red {
  border-color: #ff7272;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_2_red.win {
  background-color: #ff7272;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_2_red.win p {
  color: white;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_3_gray {
  border-color: #aaaaaa;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_3_gray.win p {
  color: white;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_4_green {
  border-color: #b0d840;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_4_green.win {
  background-color: #b0d840;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_number .this_win_number_item.color_4_green.win p {
  color: white;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_grade {
  height: 8.41vw;
  line-height: 8.41vw;
  float: right;
  font-weight: normal;
  font-size: 3.62vw;
  color: #707070;
}

.win_number_amount_contents .win_number_list_w .win_number_list .win_number_item .this_win_grade::after {
  content: "등";
}
/*# sourceMappingURL=win-number-amount.page.css.map */