@import '../../assets/css/common_vw';

.win_number_amount_contents {
    width: 100%; 
    height: 100%;

    .win_info_w {
        width: 100%;
        padding: $px10 $px20;
        overflow-x: scroll;
        background: $basic_green;

        .win_info_tit {
            
            .win_round {
                @include clearfix;
                margin-bottom: $px10;

                .this_round {
                    font-size: $px17;
                    font-weight: bold;
                    color: white; 
                    float: left; 
    
                    &::after { content: "회 당첨 정보" }
                }
                .round_info {
                    @include clearfix;
                    float: right;
                    margin-top: $px5;
    
                    .round_info_item { 
                        float: left; 
                        font-size: $px12;
                        color: white;
                        margin-right: 1vw;

                        &.automatic {
                            &::before { content: "자동 "; }
                            &::after { content: " 명,"; }
                        }
                        &.manual {
                            &::before { content: "수동 "; }
                            &::after { content: " 명,"; }
                        }
                        &.half_auto {
                            &::before { content: "반자동 "; }
                            &::after { content: " 명"; }
                        }
                    }
                }
            }
            
            .first_to_fifth_w {
                width: 100%;
                padding-bottom: 1vw;

                .first_to_fifth {
                    @include clearfix;
                    display: inline-block;
    
                    .ftf_item {
                        display: inline-block;
                        min-width: $px125;
                        border-radius: $px10;
                        margin-right: $px9;
                        padding: $px10;
                        box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
                        background: white;
                        
                        .grade_info {
                            @include clearfix;
                            margin-bottom: $px5;
                            border-bottom: 1px solid black; 

                            .grade_info_item {
                                font-weight: bold; 
                                color: black;
                                float: left; 

                                &.real_grade {
                                    font-size: $px17;
                                    margin-right: $px5;
                                }
                                &.grade { 
                                    margin-top: $px5;
                                    font-size: $px10; 
                                }
                            }
                        }
                        .grade_people_number {
                            font-size: $px10;
                            font-weight: normal;
                            color: #707070;
                            text-align: right;
                            letter-spacing: 0;
                            margin-bottom: $px5;

                            &::after { content: "명"; }
                        }
                        .grade_amount {
                            font-weight: bold;
                            font-size: $px12;
                            text-align: right;
                            color: #707070;
                            letter-spacing: 0;

                            &::after { content: "원"; }
                        }
                    }
                }
            }
        }
    }

    .win_number_list_w {
        height: 100%;

        .win_number_list {
            width: 100%; 

            .win_number_item {
                @include clearfix;
                width: 100%; 
                padding: $px22 $px20;

                &:nth-child(2n) { background: #f9f9f9; }

                .this_win_round {
                    height: $px35;
                    line-height: $px35;
                    font-size: $px15;
                    font-weight: bold;
                    color: black;
                    float: left;
                    padding-right: $px30;           
                }
                .this_win_number {
                    @include clearfix;
                    float: left;

                    .this_win_number_item {
                        @include lotto_ball;
                        margin-right: 1vw;
                    }
                }
                .this_win_grade {
                    height: $px35;
                    line-height: $px35;
                    float: right; 
                    font-weight: normal;
                    font-size: $px15;
                    color: #707070;

                    &::after { content: "등"; }
                }
            }
        }
    }
}
