<app-top-header></app-top-header>
<ion-content>
  <!-- .f_e_item 클릭시 제외수는 .except 붙여주세요!  -->
  <div id="wrap" class="fix_except_select_contents">
    <ul class="fix_except_select">
      <!-- 1번부터 45번까지 로또볼 시작 -->
      <li class="f_e_item lotto_ball_{{item}}" *ngFor="let item of lotto_arr"><p>{{item}}</p></li>
      <!-- 1번부터 45번까지 로또볼 끝 -->
    </ul>
  </div>
</ion-content>