@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.fix_except_select_contents {
  width: 100%;
  height: 100%;
}

.fix_except_select_contents .fix_except_select {
  padding: 7.25vw;
}

.fix_except_select_contents .fix_except_select::after {
  content: "";
  clear: both;
  display: table;
}

.fix_except_select_contents .fix_except_select .f_e_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  width: 9.66vw;
  height: 9.66vw;
  margin-bottom: 2.9vw;
  margin-right: 2.9vw;
  background: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.fix_except_select_contents .fix_except_select .f_e_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fix_except_select_contents .fix_except_select .f_e_item:last-child {
  margin-right: 0;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_0_yellow {
  border-color: #fbc400;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_0_yellow.win {
  background-color: #fbc400;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_0_yellow.win p {
  color: white;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_1_blue {
  border-color: #69c8f2;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_1_blue.win {
  background-color: #69c8f2;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_1_blue.win p {
  color: white;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_2_red {
  border-color: #ff7272;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_2_red.win {
  background-color: #ff7272;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_2_red.win p {
  color: white;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_3_gray {
  border-color: #aaaaaa;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_3_gray.win p {
  color: white;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_4_green {
  border-color: #b0d840;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_4_green.win {
  background-color: #b0d840;
}

.fix_except_select_contents .fix_except_select .f_e_item.color_4_green.win p {
  color: white;
}

.fix_except_select_contents .fix_except_select .f_e_item:nth-child(7n) {
  margin-right: 0;
}

.fix_except_select_contents .fix_except_select .f_e_item.fix {
  background: #d8d8d8;
  border-color: #b2b2b2;
}

.fix_except_select_contents .fix_except_select .f_e_item.fix > p {
  color: #8a8a8a;
}

.fix_except_select_contents .fix_except_select .f_e_item.except {
  background: #b3d9ca;
  border-color: #b2b2b2;
}

.fix_except_select_contents .fix_except_select .f_e_item.except > p {
  color: #8a8a8a;
}

.fix_except_select_contents .fix_except_select .f_e_item > p {
  font-size: 4.35vw;
  color: #d8d8d8;
}
/*# sourceMappingURL=except-fix-select.page.css.map */