<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="check_win_and_contents">
    <div class="delete_check_win_list_wrap">
      <input type="checkbox" id="delete_check_win_list">
      <label for="delete_check_win_list">선택 삭제</label>
    </div>
    <ul class="check_win_list">
      <li class="check_win_card">
        <div class="c_w_l_tit">
          <p class="main_times">845회</p>
          <p class="main_times_date">2019.04.01</p>
          <input type="checkbox" name="cb_for_cwl">
        </div>
        <div class="c_w_l_cont">
          <div class="lottery_info">
            <span class="before_lottery lottery_tag">추첨 전</span> <!-- 이 태그는 추첨 결과가 없을 때 나옵니다! -->
          </div>
          <div class="lottery_number_result">
            <ul class="lottery_number_list">
              <li class="lotto_number color_0_yellow"><p>1</p></li>
              <li class="lotto_number color_1_blue"><p>11</p></li>
              <li class="lotto_number color_1_blue"><p>15</p></li>
              <li class="lotto_number color_1_blue"><p>19</p></li>
              <li class="lotto_number color_2_red"><p>22</p></li>
              <li class="lotto_number color_3_gray"><p>31</p></li>
            </ul>
            <!-- <p class="lotter_more_info"></p> --> <!-- 이 박스는 추첨을 했을 때 나타납니다!-->
          </div>
        </div>
      </li>
      <li class="check_win_card">
        <div class="c_w_l_tit">
          <p class="main_times">844회</p>
          <p class="main_times_date">2019.04.01</p>
          <input type="checkbox" name="cb_for_cwl">
        </div>
        <div class="c_w_l_cont">
          <div class="lottery_info">
            <!-- <span class="before_lottery lottery_tag" *ngif >추첨 전</span> --> <!-- 이 태그는 추첨 결과가 없을 때 나옵니다! -->
            <div class="after_lottery" > <!-- 이 태그는 추첨 결과가 있!!!을!!!때 나옵니다! *ngif -->
              <span class="lottery_result">추첨번호</span>
              <ul class="lottery_r_n">
                <li class="lottery_r_n_item">01</li>
                <li class="lottery_r_n_item">11</li>
                <li class="lottery_r_n_item">22</li>
                <li class="lottery_r_n_item">31</li>
                <li class="lottery_r_n_item">32</li>
                <li class="lottery_r_n_item">41</li>
                <li class="lottery_r_n_item">42</li>
              </ul>
            </div>              
          </div>
          <div class="lottery_number_result">
            <ul class="lottery_number_list">
              <li class="lotto_number color_0_yellow"><p>1</p></li>
              <li class="lotto_number color_1_blue win"><p>11</p></li>
              <li class="lotto_number color_2_red"><p>22</p></li>
              <li class="lotto_number color_3_gray"><p>31</p></li>
              <li class="lotto_number color_3_gray"><p>32</p></li>
              <li class="lotto_number color_4_green win"><p>41</p></li>
            </ul>
            <div class="win_or_lose"> <!-- 이 박스는 추첨을 했을 때 나타나며 아래 p태그는 낙첨/당첨(n등)과 수령/미수령에 따라 나타납니다-->
              <p class="wol_lose">낙첨</p>
              <!-- <p class="wol_win">5등</p> 
              <p class="wol_not_receive">미수령</p> 
              <p class="wol_receive">수령</p> -->
            </div> 
          </div>
        </div>
      </li>
      <li class="check_win_card">
        <div class="c_w_l_tit">
          <p class="main_times">842회</p>
          <p class="main_times_date">2019.04.01</p>
          <input type="checkbox" name="cb_for_cwl">
        </div>
        <div class="c_w_l_cont">
          <div class="lottery_info">
            <!-- <span class="before_lottery lottery_tag" *ngif >추첨 전</span> --> <!-- 이 태그는 추첨 결과가 없을 때 나옵니다! -->
            <div class="after_lottery" > <!-- 이 태그는 추첨 결과가 있!!!을!!!때 나옵니다! *ngif -->
              <span class="lottery_result">추첨번호</span>
              <ul class="lottery_r_n">
                <li class="lottery_r_n_item">05</li>
                <li class="lottery_r_n_item">12</li>
                <li class="lottery_r_n_item">20</li>
                <li class="lottery_r_n_item">31</li>
                <li class="lottery_r_n_item">34</li>
                <li class="lottery_r_n_item">40</li>
                <li class="lottery_r_n_item">38</li>
              </ul>
            </div>              
          </div>
          <div class="lottery_number_result">
            <ul class="lottery_number_list">
              <li class="lotto_number color_0_yellow win"><p>5</p></li>
              <li class="lotto_number color_1_blue win"><p>12</p></li>
              <li class="lotto_number color_2_red win"><p>20</p></li>
              <li class="lotto_number color_3_gray"><p>31</p></li>
              <li class="lotto_number color_3_gray win"><p>34</p></li>
              <li class="lotto_number color_4_green"><p>40</p></li>
            </ul>
            <div class="win_or_lose"> <!-- 이 박스는 추첨을 했을 때 나타나며 아래 p태그는 낙첨/당첨(n등)과 수령/미수령에 따라 나타납니다-->
              <!-- <p class="wol_lose">낙첨</p> -->
              <p class="wol_win">5등</p> 
              <!-- <p class="wol_not_receive">미수령</p>  -->
              <p class="wol_receive">수령</p>
            </div> 
          </div>
        </div>
      </li>
    </ul>
  </div>
  <app-basic-popup></app-basic-popup>
</ion-content>