@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.check_win_and_contents {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 4.83vw;
}

.check_win_and_contents .delete_check_win_list_wrap {
  height: 4.12vw;
  position: relative;
  margin-bottom: 4.12vw;
  padding-right: 3.62vw;
}

.check_win_and_contents .delete_check_win_list_wrap::after {
  content: "";
  clear: both;
  display: table;
}

.check_win_and_contents .delete_check_win_list_wrap label {
  font-size: 3.86vw;
  color: #32cd93;
  line-height: 4.12vw;
  float: right;
  margin-right: 2.17vw;
}

.check_win_and_contents .delete_check_win_list_wrap #delete_check_win_list {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
}

.check_win_and_contents .delete_check_win_list_wrap #delete_check_win_list:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}

.check_win_and_contents .check_win_list .check_win_card {
  width: 100%;
  border-radius: 2.42vw;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 4.83vw;
  overflow: hidden;
  background: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit {
  background: #32cd93;
  padding: 2.42vw 3.62vw;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit::after {
  content: "";
  clear: both;
  display: table;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit .main_times {
  float: left;
  font-size: 4.12vw;
  font-weight: bold;
  color: white;
  margin-right: 2.17vw;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit .main_times_date {
  float: left;
  line-height: 6.52vw;
  color: white;
  font-size: 2.9vw;
  letter-spacing: 1px;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit input[name="cb_for_cwl"] {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
  margin-top: 1.2vw;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_tit input[name="cb_for_cwl"]:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont {
  padding: 0 3.62vw;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info {
  padding: 2.42vw 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  background: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .before_lottery {
  display: inline-block;
  height: 7.25vw;
  color: white;
  line-height: 7.25vw;
  letter-spacing: 0;
  padding: 0 2.17vw;
  border-radius: 1.2vw;
  background: #aaaaaa;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery::after {
  content: "";
  clear: both;
  display: table;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_result {
  height: 7.25vw;
  font-size: 3.62vw;
  color: #aaaaaa;
  line-height: 7.25vw;
  padding-right: 2.17vw;
  margin-right: 2.17vw;
  position: relative;
  float: left;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_result::after {
  content: "";
  display: block;
  width: 1px;
  height: 2.17vw;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: rgba(0, 0, 0, 0.16);
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n {
  display: inline-block;
  height: 7.25vw;
  color: white;
  line-height: 7.25vw;
  letter-spacing: 0;
  padding: 0 2.17vw;
  border-radius: 1.2vw;
  float: left;
  background: #aaaaaa;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n::after {
  content: "";
  clear: both;
  display: table;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n .lottery_r_n_item {
  height: 7.25vw;
  line-height: 7.25vw;
  color: white;
  letter-spacing: 0;
  float: left;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n .lottery_r_n_item::before {
  content: ",";
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n .lottery_r_n_item:first-child::before {
  content: "";
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_info .after_lottery .lottery_r_n .lottery_r_n_item:last-child::before {
  content: "+ ";
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result {
  position: relative;
  padding: 4.35vw 0;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list::after {
  content: "";
  clear: both;
  display: table;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number:last-child {
  margin-right: 0;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_0_yellow {
  border-color: #fbc400;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_0_yellow.win {
  background-color: #fbc400;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_0_yellow.win p {
  color: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_1_blue {
  border-color: #69c8f2;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_1_blue.win {
  background-color: #69c8f2;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_1_blue.win p {
  color: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_2_red {
  border-color: #ff7272;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_2_red.win {
  background-color: #ff7272;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_2_red.win p {
  color: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_3_gray {
  border-color: #aaaaaa;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_3_gray.win {
  background-color: #aaaaaa;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_3_gray.win p {
  color: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_4_green {
  border-color: #b0d840;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_4_green.win {
  background-color: #b0d840;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .lottery_number_list .lotto_number.color_4_green.win p {
  color: white;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p {
  display: inline-block;
  height: 7.25vw;
  color: white;
  line-height: 7.25vw;
  letter-spacing: 0;
  padding: 0 2.17vw;
  border-radius: 1.2vw;
  display: block;
  width: 12.08vw;
  height: 6.04vw;
  line-height: 6.04vw;
  text-align: center;
  margin-bottom: 1.2vw;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p.wol_lose {
  background: #d8d8d8;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p.wol_win {
  background: #FD8701;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p.wol_not_receive {
  background: #d8d8d8;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p.wol_receive {
  background: #32cd93;
}

.check_win_and_contents .check_win_list .check_win_card .c_w_l_cont .lottery_number_result .win_or_lose > p:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=check-win-and.page.css.map */