@import "../../assets/css/_common_vw.scss";

.check_win_and_contents {
    width: 100%; 
    height: 100%;
    background: #f5f5f5;
    padding: $px20;

    .delete_check_win_list_wrap {
        @include clearfix;
        height: $px17;
        position: relative; 
        margin-bottom: $px17; 
        padding-right: $px15;

        label {
            @include list_checkbox_label;
        }

        #delete_check_win_list {            
            @include list_checkbox;
        }
    }
    .check_win_list {

        .check_win_card {
            width: 100%; 
            border-radius: $px10; 
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
            margin-bottom: $px20;
            overflow: hidden; 
            background: white;

            .c_w_l_tit {
                @include clearfix;
                background: $basic_green;
                padding: $px10 $px15;

                .main_times {
                    float: left;
                    font-size: $px17;
                    font-weight: bold;
                    color: white;
                    margin-right: $px9;
                }
                .main_times_date {
                    float: left;
                    line-height: $px27;
                    color: white; 
                    font-size: $px12; 
                    letter-spacing: 1px; 
                }
                input[name="cb_for_cwl"] {
                    @include list_checkbox;
                    margin-top: $px5;
                }
            }
            .c_w_l_cont {
                padding: 0 $px15;                

                .lottery_info {
                    padding: $px10 0;
                    border-bottom: 1px solid rgba(0,0,0,0.16);
                    background: white; 
                    
                    .before_lottery {
                        @include lottery_tag;
                        background: #aaaaaa;
                    }
                    .after_lottery {
                        @include clearfix;

                        .lottery_result {
                            height: $px30;
                            font-size: $px15; 
                            color: #aaaaaa; 
                            line-height: $px30;
                            padding-right: $px9; 
                            margin-right: $px9;
                            position: relative;
                            float: left; 

                            &::after {
                                content: "";
                                display: block; 
                                width: 1px; 
                                height: $px9;
                                position: absolute; 
                                right: 0; 
                                top: 50%; 
                                transform: translate(0,-50%);
                                background: rgba(0,0,0,0.16);
                            }
                        }
                        .lottery_r_n {
                            @include clearfix;
                            @include lottery_tag;
                            float: left; 
                            background: #aaaaaa; 

                            .lottery_r_n_item { 
                                height: $px30;
                                line-height: $px30; 
                                color: white; 
                                letter-spacing: 0;
                                float: left; 

                                &::before { content: ","; }
                                &:first-child {
                                    &::before { content: ""; }
                                }
                                &:last-child { 
                                    &::before { content: "+ "; }
                                }
                            }
                        }
                    }
                }
                .lottery_number_result {
                    position: relative;
                    padding: $px18 0;

                    .lottery_number_list {
                        @include clearfix;

                        .lotto_number {
                            @include lotto_ball;
                        }
                    }
                    .win_or_lose {
                        position: absolute; 
                        top: 50%; 
                        right: 0; 
                        transform: translate(0,-50%);

                        > p {
                            @include lottery_tag;
                            display: block; 
                            width: $px50; 
                            height: $px25; 
                            line-height: $px25; 
                            text-align: center; 
                            margin-bottom: $px5;
                            &.wol_lose { background: #d8d8d8; }
                            &.wol_win { background: #FD8701; }
                            &.wol_not_receive { background: #d8d8d8; }
                            &.wol_receive { background: $basic_green; }
                            &:last-child { margin-bottom: 0; }
                        }
                    }
                }
            }
        } 
    }
}