/* 414 기준 */

$px5: 1.2vw;
$px9: 2.17vw;
$px10: 2.42vw;
$px12: 2.9vw;
$px15: 3.62vw;
$px16: 3.86vw;
$px17: 4.12vw;
$px18: 4.35vw;
$px20: 4.83vw;
$px22: 5.31vw;
$px25: 6.04vw;
$px27: 6.52vw;
$px30: 7.25vw;
$px35: 8.41vw;
$px40: 9.66vw;
$px45: 10.87vw;
$px50: 12.08vw;
$px55: 13.28vw;
$px60: 14.49vw;
$px65: 15.7vw;
$px70: 16.9vw;
$px75: 18.12vw;
$px80: 19.32vw;
$px85: 21.53;
$px90: 21.74vw;
$px95: 22.95vw;
$px100: 24.15vw;
$px125: 30.2vw;

$basic_green: #32cd93;
$color_0n: #fbc400;
$color_1n: #69c8f2;
$color_2n: #ff7272;
$color_3n: #aaaaaa;
$color_4n: #b0d840;

@mixin clearfix{
    &::after{
        content:"";
        clear: both;
        display: table;
    } 
}

/* 당첨확인 구입번호목록 체크박스 */
@mixin list_checkbox{
    width: $px17; 
    height: $px17;
    float: right; 
    border: 1px solid #aaaaaa; 
    border-radius: 0.8vw;
    -webkit-appearance: none;
    vertical-align: middle; 
    background: white;
    &:checked {
        background: white url(../../assets/image/icon_check.png) no-repeat center;                
    }
}
@mixin list_checkbox_label {
    font-size: $px16; 
    color: $basic-green; 
    line-height: $px17;
    float: right;
    margin-right: $px9;
}

/* 당첨확인 구입번호 같은모양의 태그들 */
@mixin lottery_tag() {
    display: inline-block; 
    height: $px30;
    color: white; 
    line-height: $px30; 
    letter-spacing: 0;
    padding: 0 $px9;
    border-radius: $px5;
}

/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */

@mixin lotto_ball {
    width: $px35; 
    height: $px35; 
    background: white; 
    float: left;
    margin-right: $px9;
    border: 2px solid #b2b2b2; 
    border-radius: 50%;                
    position: relative; 
    p {
        display: inline-block;
        font-weight: bold;
        font-size: $px15;
        color: #8a8a8a; 
        text-indent: -0.2vw;
        position: absolute; 
        left: 50%; 
        top: 50%; 
        transform: translate(-50%,-50%);
    }
    &:last-child { margin-right: 0; }
    &.color_0_yellow { 
        border-color: $color_0n; 
        &.win{ 
            background-color: $color_0n; 
            p { color: white; } 
        } 
    }
    &.color_1_blue { 
        border-color: $color_1n; 
        &.win{ 
            background-color: $color_1n; 
            p { color: white; } 
        } 
    }
    &.color_2_red { 
        border-color: $color_2n; 
        &.win{ 
            background-color: $color_2n; 
            p { color: white; } 
        } 
    }
    &.color_3_gray { 
        border-color: $color_3n; 
        &.win{ 
            background-color: $color_3n; 
            p { color: white; } 
        } 
    }
    &.color_4_green { 
        border-color: $color_4n; 
        &.win{ 
            background-color: $color_4n; 
            p { color: white; } 
        } 
    }
}

