<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="saved_number_contents">
    <div class="delete_saved_number_wrap">
      <input type="checkbox" id="delete_saved_number">
      <label for="delete_saved_number">선택 삭제</label>
    </div>
    <ul class="saved_number_list">
      <!-- 생성번호 생성일 큰 리스트 시작 -->
      <li>
        <p class="s_n_tit">생성일 <span class="s_n_tit_date">2019.02.01</span></p> <!-- .s_n_tit_date 생성 날짜는 바뀌어야 합니다 -->
        <ul class="s_n_detail_list">
          <!-- 생성번호 생성일 하위 리스트 시작-->
          <li class="s_n_detail_list_item">
            <ul class="s_n_lotto_number">
              <li class="l_n_item color_0_yellow"><p>1</p></li>
              <li class="l_n_item color_1_blue"><p>11</p></li>
              <li class="l_n_item color_1_blue"><p>15</p></li>
              <li class="l_n_item color_1_blue"><p>19</p></li>
              <li class="l_n_item color_2_red"><p>22</p></li>
              <li class="l_n_item color_3_gray"><p>31</p></li>
            </ul>
            <ul class="s_n_lotto_number_detail"> <!-- 각 li별로 정보 뿌리셔야 합니다! -->
              <li class="l_n_detail_item snln_sum">합 160</li>
              <li class="l_n_detail_item snln_appearance">출현 98.2%</li>
              <li class="l_n_detail_item snln_or">홀짝 5:1</li>
              <li class="l_n_detail_item snls_create">랜덤생성</li>
            </ul>
            <input type="checkbox" class="s_n_delete">
          </li>
          <!-- 생성번호 생성일 하위 리스트 끝-->
          <li class="s_n_detail_list_item">
            <ul class="s_n_lotto_number">
              <li class="l_n_item color_0_yellow"><p>1</p></li>
              <li class="l_n_item color_1_blue"><p>11</p></li>
              <li class="l_n_item color_1_blue"><p>15</p></li>
              <li class="l_n_item color_1_blue"><p>19</p></li>
              <li class="l_n_item color_2_red"><p>22</p></li>
              <li class="l_n_item color_3_gray"><p>31</p></li>
            </ul>
            <ul class="s_n_lotto_number_detail">
              <li class="l_n_detail_item snln_sum">합 160</li>
              <li class="l_n_detail_item snln_appearance">출현 98.2%</li>
              <li class="l_n_detail_item snln_or">홀짝 5:1</li>
              <li class="l_n_detail_item snls_create">랜덤생성</li>
            </ul>
            <input type="checkbox" class="s_n_delete">
          </li>
          <li class="s_n_detail_list_item">
            <ul class="s_n_lotto_number">
              <li class="l_n_item color_0_yellow"><p>1</p></li>
              <li class="l_n_item color_1_blue"><p>11</p></li>
              <li class="l_n_item color_1_blue"><p>15</p></li>
              <li class="l_n_item color_1_blue"><p>19</p></li>
              <li class="l_n_item color_2_red"><p>22</p></li>
              <li class="l_n_item color_3_gray"><p>31</p></li>
            </ul>
            <ul class="s_n_lotto_number_detail">
              <li class="l_n_detail_item snln_sum">합 160</li>
              <li class="l_n_detail_item snln_appearance">출현 98.2%</li>
              <li class="l_n_detail_item snln_or">홀짝 5:1</li>
              <li class="l_n_detail_item snls_create">랜덤생성</li>
            </ul>
            <input type="checkbox" class="s_n_delete">
          </li>
        </ul>
      </li>
      <!-- 생성번호 생성일 큰 리스트 끝-->
      <li>
        <p class="s_n_tit">생성일 <span class="s_n_tit_date">2019.01.11</span></p>
        <ul class="s_n_detail_list">
          <li class="s_n_detail_list_item">
            <ul class="s_n_lotto_number">
              <li class="l_n_item color_0_yellow"><p>1</p></li>
              <li class="l_n_item color_1_blue"><p>11</p></li>
              <li class="l_n_item color_1_blue"><p>15</p></li>
              <li class="l_n_item color_1_blue"><p>19</p></li>
              <li class="l_n_item color_2_red"><p>22</p></li>
              <li class="l_n_item color_3_gray"><p>31</p></li>
            </ul>
            <ul class="s_n_lotto_number_detail">
              <li class="l_n_detail_item snln_sum">합 160</li>
              <li class="l_n_detail_item snln_appearance">출현 98.2%</li>
              <li class="l_n_detail_item snln_or">홀짝 5:1</li>
              <li class="l_n_detail_item snls_create">랜덤생성</li>
            </ul>
            <input type="checkbox" class="s_n_delete">
          </li>
          <li class="s_n_detail_list_item">
            <ul class="s_n_lotto_number">
              <li class="l_n_item color_0_yellow"><p>1</p></li>
              <li class="l_n_item color_1_blue"><p>11</p></li>
              <li class="l_n_item color_1_blue"><p>15</p></li>
              <li class="l_n_item color_1_blue"><p>19</p></li>
              <li class="l_n_item color_2_red"><p>22</p></li>
              <li class="l_n_item color_3_gray"><p>31</p></li>
            </ul>
            <ul class="s_n_lotto_number_detail">
              <li class="l_n_detail_item snln_sum">합 160</li>
              <li class="l_n_detail_item snln_appearance">출현 98.2%</li>
              <li class="l_n_detail_item snln_or">홀짝 5:1</li>
              <li class="l_n_detail_item snls_create">랜덤생성</li>
            </ul>
            <input type="checkbox" class="s_n_delete">
          </li>
        </ul>
      </li>
    </ul>
  </div>
</ion-content>