@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.saved_number_contents {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

.saved_number_contents .delete_saved_number_wrap {
  width: 100%;
  padding: 4.12vw;
}

.saved_number_contents .delete_saved_number_wrap::after {
  content: "";
  clear: both;
  display: table;
}

.saved_number_contents .delete_saved_number_wrap > #delete_saved_number {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
}

.saved_number_contents .delete_saved_number_wrap > #delete_saved_number:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}

.saved_number_contents .delete_saved_number_wrap > label {
  font-size: 3.86vw;
  color: #32cd93;
  line-height: 4.12vw;
  float: right;
  margin-right: 2.17vw;
}

.saved_number_contents .saved_number_list {
  width: 100%;
}

.saved_number_contents .saved_number_list .s_n_tit {
  padding: 2.42vw 6.04vw;
  background: #d8d8d8;
  font-size: 3.86vw;
  font-weight: bold;
  color: #777777;
}

.saved_number_contents .saved_number_list .s_n_tit .s_n_tit_date {
  font: inherit;
  color: inherit;
  margin-left: 1.2vw;
}

.saved_number_contents .saved_number_list .s_n_detail_list {
  width: 100%;
  background: white;
  padding: 0 4.12vw;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item {
  border-bottom: 1px solid #d8d8d8;
  padding: 3.62vw 0;
  position: relative;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item:last-child {
  border-bottom: 0;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number {
  margin-bottom: 2.17vw;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number::after {
  content: "";
  clear: both;
  display: table;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item:last-child {
  margin-right: 0;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_0_yellow {
  border-color: #fbc400;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_0_yellow.win {
  background-color: #fbc400;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_0_yellow.win p {
  color: white;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_1_blue {
  border-color: #69c8f2;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_1_blue.win {
  background-color: #69c8f2;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_1_blue.win p {
  color: white;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_2_red {
  border-color: #ff7272;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_2_red.win {
  background-color: #ff7272;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_2_red.win p {
  color: white;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_3_gray {
  border-color: #aaaaaa;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_3_gray.win p {
  color: white;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_4_green {
  border-color: #b0d840;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_4_green.win {
  background-color: #b0d840;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number .l_n_item.color_4_green.win p {
  color: white;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number_detail {
  height: 4.12vw;
  line-height: 4.12vw;
  font-size: 2.9vw;
  color: #777777;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number_detail::after {
  content: "";
  clear: both;
  display: table;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number_detail .l_n_detail_item {
  float: left;
  margin-right: 1.2vw;
  padding-right: 1.2vw;
  letter-spacing: 0;
  border-right: 1px solid #777777;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_lotto_number_detail .l_n_detail_item:last-child {
  border-right: 0;
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_delete {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.saved_number_contents .saved_number_list .s_n_detail_list .s_n_detail_list_item .s_n_delete:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}
/*# sourceMappingURL=saved-number.page.css.map */