@import '../../assets/css/common_vw';

.saved_number_contents {
    width: 100%; 
    height: 100%;
    background: #f5f5f5; 

    .delete_saved_number_wrap {
        @include clearfix;
        width: 100%; 
        padding: $px17;

        > #delete_saved_number { @include list_checkbox; }
        > label { @include list_checkbox_label; }
    }
    .saved_number_list {
        width: 100%; 

        .s_n_tit {
            padding: $px10 $px25;
            background: #d8d8d8;
            font-size: $px16;
            font-weight: bold;
            color: #777777;

            .s_n_tit_date { 
                font: inherit; 
                color: inherit; 
                margin-left: $px5; 
            }
        }

        .s_n_detail_list {
            width: 100%; 
            background: white; 
            padding: 0 $px17; 

            .s_n_detail_list_item {
                border-bottom: 1px solid #d8d8d8; 
                padding: $px15 0;
                position: relative; 

                &:last-child { border-bottom: 0; }
                .s_n_lotto_number {
                    @include clearfix;
                    margin-bottom: $px9; 

                    .l_n_item { @include lotto_ball; }
                }
                .s_n_lotto_number_detail {
                    @include clearfix;
                    height: $px17;
                    line-height: $px17; 
                    font-size: $px12; 
                    color: #777777;

                    .l_n_detail_item {
                        float: left; 
                        margin-right: $px5; 
                        padding-right: $px5; 
                        letter-spacing: 0;
                        border-right: 1px solid #777777;

                        &:last-child { border-right: 0; }
                    }
                }

                .s_n_delete {
                    @include list_checkbox;
                    position: absolute; 
                    top: 50%; 
                    right: 0; 
                    transform: translate(0,-50%)
                    ;
                }
            }
        }
    }
}