@import "../../assets/css/_common_vw.scss";

.basic_popup_horizon_contents {
    width: 100%; 
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 999;
    background: rgba(0,0,0,0.36);

    .basic_popup_wrap {
        width: 100%; 
        padding: $px20;
        position: absolute; 
        top: 50%; 
        left: 0; 
        transform: translate(0,-50%);

        .basic_popup_body {
            width: 100%;
            border-radius: $px10; 
            overflow: hidden;
            background: white; 

            .b_p_detail {
                margin: 0 $px25; 
                padding: $px40 0;
                font-size: $px22; 
                font-weight: normal;
                text-align: center; 
                color: #707070;
                letter-spacing: 0;
                
                .this_number {
                    @include clearfix;
                    display: inline-block;
                    position: relative; top: $px5;

                    .this_number_item {
                        float: left; 
                        font-size: $px22;
                        font-weight: normal;
                        color: #707070;
                        margin-right: 1vw; 

                        &::after { content: ","; }
                        &:last-child {
                            margin-right: 0; 

                            &::after { content: ""; }
                        }
                    }
                }
            }
            .b_p_buttons {
                @include clearfix; 

                > button {
                    display: block; 
                    width: 50%; 
                    float: left;
                    padding: $px15 0;
                    text-align: center; 
                    font-size: $px22;
                    font-weight: normal;
                    color: white; 
                    border: 0; 

                    &.cancle { background: #bebebe; }
                    &.accept { background: $basic_green; }
                }
            }
        }
    }
}