<div id="wrap" class="basic_popup_horizon_contents">
    <div class="basic_popup_wrap">
      <div class="basic_popup_body">
        <div class="b_p_detail">
          <ul class="this_number">
            <li class="this_number_item">1</li>
            <li class="this_number_item">2</li>
            <li class="this_number_item">21</li>
            <li class="this_number_item">15</li>
            <li class="this_number_item">35</li>
            <li class="this_number_item">28</li>
          </ul>
          의<br>
          과거 순위를 보시겠습니까?
        </div>
        <div class="b_p_buttons">
          <button type="button" class="cancle">취소</button>
          <button type="button" class="accept">보기</button>
        </div>
      </div>
    </div>
  </div>