@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.basic_popup_horizon_contents {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.36);
}

.basic_popup_horizon_contents .basic_popup_wrap {
  width: 100%;
  padding: 4.83vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body {
  width: 100%;
  border-radius: 2.42vw;
  overflow: hidden;
  background: white;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail {
  margin: 0 6.04vw;
  padding: 9.66vw 0;
  font-size: 5.31vw;
  font-weight: normal;
  text-align: center;
  color: #707070;
  letter-spacing: 0;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number {
  display: inline-block;
  position: relative;
  top: 1.2vw;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number .this_number_item {
  float: left;
  font-size: 5.31vw;
  font-weight: normal;
  color: #707070;
  margin-right: 1vw;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number .this_number_item::after {
  content: ",";
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number .this_number_item:last-child {
  margin-right: 0;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_detail .this_number .this_number_item:last-child::after {
  content: "";
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_buttons::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_buttons > button {
  display: block;
  width: 50%;
  float: left;
  padding: 3.62vw 0;
  text-align: center;
  font-size: 5.31vw;
  font-weight: normal;
  color: white;
  border: 0;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_buttons > button.cancle {
  background: #bebebe;
}

.basic_popup_horizon_contents .basic_popup_wrap .basic_popup_body .b_p_buttons > button.accept {
  background: #32cd93;
}
/*# sourceMappingURL=basic-popup-horizon.component.css.map */