<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="self_typed_num_contents">
    <div class="num_typed_screen">
      <ul class="num_here">
        <li class="num_here_item color_0_yellow"><p>1</p></li>
        <li class="num_here_item color_1_blue"><p>11</p></li>
        <li class="num_here_item color_1_blue"><p>15</p></li>
        <li class="num_here_item color_1_blue"><p>19</p></li>
        <li class="num_here_item color_2_red"><p>22</p></li>
        <li class="num_here_item color_3_gray"><p>31</p></li>
      </ul>
      <div class="reset_n_save">
        <button type="button" class="reset">초기화</button>
        <button type="button" class="save">저장</button>
      </div>
    </div>
    <div class="typed_here">
      <div class="typed_tit">번호선택</div>
      <ul class="typed_list">
        <li class="typed_list_item color_0_yellow off" *ngFor='let item of lotto_arr'><p>{{item}}</p></li> <!-- 클릭하면 해당 dom에서 class off가 사라지고 .num_here에 들어가야 합니다 -->
      </ul>
    </div>
  </div>
</ion-content>