<div id="wrap" class="basic_popup_select_contents">
  <div class="popup_select_w">
    <div class="popup_select">
      <div class="popup_select_tit">
        종료 회차를 선택하세요
        <button class="close"><img src="../../assets/image/icon_close.png" alt="닫기"></button>
      </div>
      <div class="select_scroll">
        <ul class="scroll_list">
          <!-- 회차선택 리스트 시작 (로또 회차만큼 반복) 선택시 .selected 추가되도록 해주세요! -->
          <li class="scroll_list_item">100회</li>
          <!-- 회차선택 리스트 끝 -->
          <li class="scroll_list_item">99회</li>
          <li class="scroll_list_item">98회</li>
          <li class="scroll_list_item">97회</li>
          <li class="scroll_list_item selected">96회</li>
          <li class="scroll_list_item">95회</li>
          <li class="scroll_list_item">94회</li>
          <li class="scroll_list_item">93회</li>
          <li class="scroll_list_item">92회</li>
          <li class="scroll_list_item">91회</li>
          <li class="scroll_list_item">90회</li>
          <li class="scroll_list_item">89회</li>
          <li class="scroll_list_item">88회</li>
          <li class="scroll_list_item">87회</li>
          <li class="scroll_list_item">86회</li>
          <li class="scroll_list_item">85회</li>
        </ul>
      </div>
      <input type="button" class="select_this" value="선택">
    </div>
  </div>
</div>