@import '../../assets/css/common_vw';

.basic_popup_select_contents {
    width: 100%; 
    height: 100%; 
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.36);

    .popup_select_w {
        width: 100%; 
        padding: $px20;
        position: absolute;
        top: 50%; 
        left: 0; 
        transform: translate(0,-50%);

        .popup_select {
            width: 100%;
            border-radius: $px10;
            overflow: hidden;
            background: white;

            .popup_select_tit {
                padding: $px15 0;
                position: relative;
                text-align: center;
                font-weight: bold;
                font-size: $px16;
                color: #808080;
                border-bottom: 1px solid $basic_green;
                background: whtie;

                .close {
                    position: absolute;
                    top: 50%;
                    right: $px17; 
                    transform: translate(0,-50%);

                    > img { 
                        display: block; 
                        width: $px20;
                        height: auto;
                    }
                }
            }

            .select_scroll{
                width: 100%; 
                height: calc( #{$px40} * 10);
                overflow-y: scroll;

                .scroll_list {
                    width: 100%;

                    .scroll_list_item {
                        padding: $px10 0;
                        text-align: center;
                        font-size: $px15;
                        color: #707070;

                        &.selected { background: #f5f5f5; }
                    }
                }
            }

            .select_this {
                width: 100%;
                padding: $px15 0;
                text-align: center;
                font-size: $px16;
                font-weight: bold;
                color: white;
                border: 0; 
                background: $basic_green;
            }
        }
    }
}