@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.basic_popup_select_contents {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.36);
}

.basic_popup_select_contents .popup_select_w {
  width: 100%;
  padding: 4.83vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_select_contents .popup_select_w .popup_select {
  width: 100%;
  border-radius: 2.42vw;
  overflow: hidden;
  background: white;
}

.basic_popup_select_contents .popup_select_w .popup_select .popup_select_tit {
  padding: 3.62vw 0;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 3.86vw;
  color: #808080;
  border-bottom: 1px solid #32cd93;
  background: whtie;
}

.basic_popup_select_contents .popup_select_w .popup_select .popup_select_tit .close {
  position: absolute;
  top: 50%;
  right: 4.12vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_select_contents .popup_select_w .popup_select .popup_select_tit .close > img {
  display: block;
  width: 4.83vw;
  height: auto;
}

.basic_popup_select_contents .popup_select_w .popup_select .select_scroll {
  width: 100%;
  height: calc( 9.66vw * 10);
  overflow-y: scroll;
}

.basic_popup_select_contents .popup_select_w .popup_select .select_scroll .scroll_list {
  width: 100%;
}

.basic_popup_select_contents .popup_select_w .popup_select .select_scroll .scroll_list .scroll_list_item {
  padding: 2.42vw 0;
  text-align: center;
  font-size: 3.62vw;
  color: #707070;
}

.basic_popup_select_contents .popup_select_w .popup_select .select_scroll .scroll_list .scroll_list_item.selected {
  background: #f5f5f5;
}

.basic_popup_select_contents .popup_select_w .popup_select .select_this {
  width: 100%;
  padding: 3.62vw 0;
  text-align: center;
  font-size: 3.86vw;
  font-weight: bold;
  color: white;
  border: 0;
  background: #32cd93;
}
/*# sourceMappingURL=basic-popup-select.component.css.map */