<div id="wrap" class="basic_popup_past_contents">
  <div class="popup_past_w">
    <div class="popup_past">
      <div class="popup_past_close">
        <button class="close"><img src="../../assets/image/icon_close.png" alt="닫기"></button>          
      </div>
      <div class="popup_past_tit">
        <div class="past_tit_inner">
          <ul class="this_number_past">
            <li class="this_number_past_item">21</li>
            <li class="this_number_past_item">7</li>
            <li class="this_number_past_item">3</li>
            <li class="this_number_past_item">25</li>
            <li class="this_number_past_item">30</li>
            <li class="this_number_past_item">39</li>
            <li class="this_number_past_item">42</li>
          </ul>
          <p class="past_append">의 과거순위</p>
        </div>
      </div>
      <div class="past_list_w">
        <ul class="past_list">
          <!-- 과거이력 리스트 시작 (숫자만 뿌려주시면 됩니당) -->
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
          <!-- 과거이력 리스트 끝 -->
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
          <li class="past_list_item">
            <div class="this_past_round">625</div>
            <div class="this_past_info">
              <ul class="date_info">
                <li class="date_info_grade">4</li>
                <li class="date_info_amount">10,000,000,000</li>
              </ul>
              <ul class="this_past_number">
                <li class="past_number_item color_0_yellow"><p>1</p></li>
                <li class="past_number_item color_0_yellow"><p>2</p></li>
                <li class="past_number_item color_2_red"><p>21</p></li>
                <li class="past_number_item color_1_blue"><p>15</p></li>
                <li class="past_number_item color_3_gray"><p>35</p></li>
                <li class="past_number_item color_2_red"><p>28</p></li>
                <li class="past_number_item color_3_gray"><p>39</p></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>