@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.basic_popup_past_contents {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.36);
}

.basic_popup_past_contents .popup_past_w {
  width: 100%;
  padding: 4.83vw;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_past_contents .popup_past_w .popup_past {
  width: 100%;
  border-radius: 2.42vw;
  padding-bottom: 4.12vw;
  overflow: hidden;
  background: white;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_close {
  width: 100%;
  height: 12.08vw;
  border-bottom: 1px solid #32cd93;
  position: relative;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_close .close {
  width: 4.83vw;
  position: absolute;
  top: 50%;
  right: 4.12vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_close .close > img {
  display: block;
  width: 100%;
  height: auto;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit {
  padding: 4.12vw 0;
  text-align: center;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner {
  display: inline-block;
  margin: 0 auto;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .this_number_past {
  float: left;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .this_number_past::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .this_number_past .this_number_past_item {
  float: left;
  margin-right: 1vw;
  font-size: 3.62vw;
  font-weight: bold;
  color: #808080;
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .this_number_past .this_number_past_item::after {
  content: " /";
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .this_number_past .this_number_past_item:last-child::after {
  content: "";
}

.basic_popup_past_contents .popup_past_w .popup_past .popup_past_tit .past_tit_inner .past_append {
  float: left;
  font-size: 3.62vw;
  font-weight: bold;
  color: #808080;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w {
  width: 100%;
  height: 100vw;
  padding: 0 4.12vw;
  overflow-y: scroll;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list {
  width: 100%;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item {
  padding: 2.9vw 0;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item:last-child {
  border-bottom: 0;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_round {
  float: left;
  font-size: 3.62vw;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info {
  float: right;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info {
  float: right;
  margin-bottom: 1vw;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info .date_info_grade {
  float: left;
  margin-right: 1.2vw;
  letter-spacing: 0;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info .date_info_grade::after {
  content: "등";
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info .date_info_amount {
  float: left;
  letter-spacing: 0;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_info .date_info .date_info_amount::after {
  content: "원";
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number {
  float: right;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number::after {
  content: "";
  clear: both;
  display: table;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  margin-right: 1vw;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item:last-child {
  margin-right: 0;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_0_yellow {
  border-color: #fbc400;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_0_yellow.win {
  background-color: #fbc400;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_0_yellow.win p {
  color: white;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_1_blue {
  border-color: #69c8f2;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_1_blue.win {
  background-color: #69c8f2;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_1_blue.win p {
  color: white;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_2_red {
  border-color: #ff7272;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_2_red.win {
  background-color: #ff7272;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_2_red.win p {
  color: white;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_3_gray {
  border-color: #aaaaaa;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_3_gray.win p {
  color: white;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_4_green {
  border-color: #b0d840;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_4_green.win {
  background-color: #b0d840;
}

.basic_popup_past_contents .popup_past_w .popup_past .past_list_w .past_list .past_list_item .this_past_number .past_number_item.color_4_green.win p {
  color: white;
}
/*# sourceMappingURL=basic-popup-past.component.css.map */