@import '../../assets/css/common_vw';

.basic_popup_past_contents {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.36);

    .popup_past_w {
        width: 100%;
        padding: $px20;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);

        .popup_past {
            width: 100%;
            border-radius: $px10;
            padding-bottom: $px17;
            overflow: hidden;
            background: white;

            .popup_past_close {
                width: 100%;
                height: $px50;
                border-bottom: 1px solid $basic_green;
                position: relative;

                .close {
                    width: $px20;
                    position: absolute;
                    top: 50%;
                    right: $px17;
                    transform: translate(0,-50%);

                    > img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .popup_past_tit {
                padding: $px17 0;
                text-align: center;

                .past_tit_inner {
                    @include clearfix;
                    display: inline-block;
                    margin: 0 auto;

                    .this_number_past {
                        @include clearfix;
                        float: left;
    
                        .this_number_past_item {
                            float: left;
                            margin-right: 1vw;
                            font-size: $px15;
                            font-weight: bold;
                            color: #808080;
    
                            &::after { content: " /" }
                            &:last-child::after { content: ""; }
                        }
                    }
                    .past_append {
                        float: left;
                        font-size: $px15;
                        font-weight: bold;
                        color: #808080;
                    }
                }
            }
            .past_list_w {
                width: 100%;
                height: 100vw;
                padding: 0 $px17;
                overflow-y: scroll;

                .past_list {
                    width: 100%; 

                    .past_list_item {
                        @include clearfix;
                        padding: $px12 0;
                        border-bottom: 1px solid #d8d8d8; 
                        position: relative;

                        &:last-child { border-bottom: 0; }
                        .this_past_round {
                            float: left;
                            font-size: $px15;
                            font-weight: bold;
                            color: black;
                            position: absolute;
                            top: 50%;
                            transform: translate(0,-50%);
                        }
                        .this_past_info {
                            @include clearfix;
                            float: right;
                            
                            .date_info {
                                @include clearfix;
                                float: right;
                                margin-bottom: 1vw;

                                .date_info_grade {
                                    float: left;
                                    margin-right: $px5; 
                                    letter-spacing: 0;

                                    &::after { content: "등"; }
                                }
                                .date_info_amount {
                                    float: left;
                                    letter-spacing: 0;

                                    &::after { content: "원"; }
                                }
                            }
                        }
                        .this_past_number {
                            @include clearfix;
                            float: right;

                            .past_number_item {
                                @include lotto_ball;
                                margin-right: 1vw;
                            }
                        }
                    }
                }
            }
        }
    }
}