<div id="wrap" class="basic_popup_contents">
  <div class="basic_popup_wrap">
    <div class="basic_popup_body">
      <div class="b_p_detail">
        당첨금 수령으로 변경
      </div>
      <div class="b_p_buttons">
        <button type="button" class="delete">삭제</button>
        <button type="button" class="cancle">취소</button>
      </div>
    </div>
  </div>
</div>