@import "../../assets/css/_common_vw.scss";

.basic_popup_contents {
    width: 100%; 
    height: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 999;
    background: rgba(0,0,0,0.36);

    .basic_popup_wrap {
        width: 100%; 
        padding: $px20;
        position: absolute; 
        top: 50%; 
        left: 0; 
        transform: translate(0,-50%);

        .basic_popup_body {
            width: 100%;
            border-radius: $px10; 
            overflow: hidden;
            background: white; 

            .b_p_detail {
                margin: 0 $px25; 
                padding: $px15 0;
                border-bottom: 1px solid #707070;
                font-size: $px22; 
                font-weight: normal;
                text-align: center; 
                color: #707070;
                letter-spacing: 0;
            }
            .b_p_buttons {

                > button {
                    display: block; 
                    width: 100%; 
                    padding: $px15 0;
                    text-align: center; 
                    font-size: $px22;
                    font-weight: normal;
                    border: 0; 

                    &.delete { 
                        background: white; 
                        color: #707070; 
                    }
                    &.cancle { 
                        background: $basic_green; 
                        color: white; 
                    }
                }
            }
        }
    }
}