@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.self_typed_num_contents {
  width: 100%;
  height: 100%;
  background: white;
}

.self_typed_num_contents .num_typed_screen {
  width: 100%;
  padding: 3.62vw 2.42vw;
  background: #f5f5f5;
}

.self_typed_num_contents .num_typed_screen::after {
  content: "";
  clear: both;
  display: table;
}

.self_typed_num_contents .num_typed_screen .num_here {
  background: white;
  float: left;
  padding: 1.2vw;
  border-radius: 2.42vw;
}

.self_typed_num_contents .num_typed_screen .num_here::after {
  content: "";
  clear: both;
  display: table;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  float: left;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item:last-child {
  margin-right: 0;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_0_yellow {
  border-color: #fbc400;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_0_yellow.win {
  background-color: #fbc400;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_0_yellow.win p {
  color: white;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_1_blue {
  border-color: #69c8f2;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_1_blue.win {
  background-color: #69c8f2;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_1_blue.win p {
  color: white;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_2_red {
  border-color: #ff7272;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_2_red.win {
  background-color: #ff7272;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_2_red.win p {
  color: white;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_3_gray {
  border-color: #aaaaaa;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_3_gray.win p {
  color: white;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_4_green {
  border-color: #b0d840;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_4_green.win {
  background-color: #b0d840;
}

.self_typed_num_contents .num_typed_screen .num_here .num_here_item.color_4_green.win p {
  color: white;
}

.self_typed_num_contents .num_typed_screen .reset_n_save {
  float: right;
  margin: 2.17vw 0 2.17vw;
}

.self_typed_num_contents .num_typed_screen .reset_n_save > button {
  display: inline-block;
  height: 7.25vw;
  color: white;
  line-height: 7.25vw;
  letter-spacing: 0;
  padding: 0 2.17vw;
  border-radius: 1.2vw;
  width: 13.28vw;
}

.self_typed_num_contents .num_typed_screen .reset_n_save > button.reset {
  background: #d8d8d8;
  margin-right: 1.2vw;
  color: #707070;
}

.self_typed_num_contents .num_typed_screen .reset_n_save > button.save {
  background: #32cd93;
}

.self_typed_num_contents .typed_here {
  width: 100%;
}

.self_typed_num_contents .typed_here .typed_tit {
  padding: 2.42vw 0;
  text-align: center;
  font-size: 3.86vw;
  font-weight: bold;
  color: #777777;
  background: #d8d8d8;
}

.self_typed_num_contents .typed_here .typed_list {
  padding: 7.25vw;
}

.self_typed_num_contents .typed_here .typed_list::after {
  content: "";
  clear: both;
  display: table;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  width: 9.66vw;
  height: 9.66vw;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 0 2.9vw 2.9vw 0;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item:last-child {
  margin-right: 0;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_0_yellow {
  border-color: #fbc400;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_0_yellow.win {
  background-color: #fbc400;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_0_yellow.win p {
  color: white;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_1_blue {
  border-color: #69c8f2;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_1_blue.win {
  background-color: #69c8f2;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_1_blue.win p {
  color: white;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_2_red {
  border-color: #ff7272;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_2_red.win {
  background-color: #ff7272;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_2_red.win p {
  color: white;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_3_gray {
  border-color: #aaaaaa;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_3_gray.win p {
  color: white;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_4_green {
  border-color: #b0d840;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_4_green.win {
  background-color: #b0d840;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.color_4_green.win p {
  color: white;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item:nth-child(7n) {
  margin-right: 0;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.off {
  background: #f5f5f5;
  border-color: #f5f5f5 !important;
}

.self_typed_num_contents .typed_here .typed_list .typed_list_item.off > p {
  color: #d8d8d8;
}
/*# sourceMappingURL=create-self.page.css.map */