@import '../../assets/css/common_vw';

.self_typed_num_contents {
    width: 100%; 
    height: 100%;
    background: white;

    .num_typed_screen {
        @include clearfix;
        width: 100%; 
        padding: $px15 $px10;
        background: #f5f5f5;

        .num_here {
            @include clearfix;
            background: white;
            float: left; 
            padding: $px5; 
            border-radius: $px10;

            .num_here_item {
                @include lotto_ball;
                float: left; 
            }
        }

        .reset_n_save {
            float: right; 
            margin: $px9 0 $px9;

            > button {
                @include lottery_tag;
                width: $px55;

                &.reset { 
                    background: #d8d8d8; 
                    margin-right: $px5; 
                    color: #707070; 
                }
                &.save { background: $basic_green; }
            }
        }
    }
    .typed_here {
        width: 100%;

        .typed_tit {
            padding: $px10 0; 
            text-align: center; 
            font-size: $px16;
            font-weight: bold;
            color: #777777;
            background: #d8d8d8;
        }

        .typed_list {
            @include clearfix;
            padding: $px30;

            .typed_list_item {
                @include lotto_ball;
                width: $px40; 
                height: $px40;
                box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
                margin: 0 $px12 $px12 0;

                &:nth-child(7n) { margin-right: 0; }
                &.off {
                    background: #f5f5f5;
                    border-color: #f5f5f5 !important;
                    > p { color: #d8d8d8; }
                }
            }
        }
    }
}