@import '../../assets/css/common_vw';

.create_random_contents {
    width: 100%; 
    height: 100%; 
    background: #f5f5f5;
    padding: $px20;

    .create_random_list {
        width: 100%; 
        
        .c_r_item {
            background: white;
            margin-bottom: $px20;
            border-radius: $px10;
            overflow: hidden; 
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

            .c_r_tit {
                width: 100%; 
                background: $basic_green;
                padding: $px9;
                font-size: $px18;
                font-weight: bold;
                color: white;
                text-align: center;
                position: relative; 

                .button {
                    width: $px50;
                    padding: $px5 0;
                    border: 1px solid white; 
                    border-radius: $px5;
                    color: white; 
                    position: absolute; 
                    top: 50%; 
                    transform: translate(0,-50%);

                    &.remove { left: $px20;}
                    &.select { 
                        right: $px20; 
                        text-indent: -0.8vw; 
                    }
                    &.create { 
                        left: $px20; 
                        text-indent: -0.8vw; 
                    }
                    &.select_save { 
                        right: $px40; 
                        width: $px60; 
                        text-indent: -0.2vw; 
                    }
                }
                .number_select_all {
                    @include list_checkbox;
                    clear: both; 
                    position: absolute; 
                    top: 50%; 
                    right: $px15; 
                    transform: translate(0,-50%);
                }
            }
            .c_r_cont {
                @include clearfix;
                padding: $px20 $px15;
                  
                &:not(.created_number_list) {
                    .fix_item {
                        @include lotto_ball;
                        background: #d8d8d8;
                    }
                    .except_item {
                        @include lotto_ball;
                        background: #b3d9ca;
                    }
                }
                &.created_number_list {

                    .c_n_l_item {
                        position: relative;
                        margin-bottom: $px15;
                        &:last-child { margin-bottom: 0; }

                        .c_n_l_numbers {
                            @include clearfix;
                            
                            .numbers_item {
                                @include lotto_ball; 
                                margin-right: $px5;
                            }
                        }
                        .number_select {
                            @include list_checkbox;
                            clear: both;
                            position: absolute; 
                            top: 50%; 
                            right: 0; 
                            transform: translate(0,-50%);
                        }
                    }
                }
            }            
        }
    }
}