<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="create_random_contents">
    <ul class="create_random_list">
      <li class="c_r_item fix_number">
        <div class="c_r_tit">
          고정수
          <button type="button" class="button remove">비우기</button>
          <a href="/fix-except-select" class="button select">선택</a>
        </div>
        <ul class="c_r_cont">
          <!-- 고정수 로또볼 시작 -->
          <!-- 고정수나 제외수는 !!최대 6개 지정!!입니다 해당 상세 선택 페이지로 들어가서 선택하는 볼이 여기에도 붙여져야 합니다 -->
          <li class="fix_item"><p>3</p></li>
          <li class="fix_item"><p>7</p></li>
          <li class="fix_item"><p>21</p></li>
          <!-- 고정수 로또볼 끝 -->
        </ul>
      </li>
      <li class="c_r_item except_number">
        <div class="c_r_tit">
          제외수
          <button type="button" class="button remove">비우기</button>
          <a href="/except-fix-select" class="button select">선택</a>
        </div>
        <ul class="c_r_cont">
          <!-- 제외수 로또볼 시작 -->
          <li class="except_item"><p>1</p></li>
          <li class="except_item"><p>11</p></li>
          <!-- 제외수 로또볼 끝 -->
        </ul>
      </li>
      <li class="c_r_item created_number">
        <div class="c_r_tit">
          생성번호
          <button type="button" class="button create">생성</button>
          <button type="button" class="button select_save">선택저장</button>
          <input type="checkbox" class="number_select_all">
        </div>
        <ul class="c_r_cont created_number_list">
          <!-- 랜덤생성 번호 1줄 시작 -->
          <li class="c_n_l_item">
            <ul class="c_n_l_numbers">
              <li class="numbers_item color_0_yellow"><p>1</p></li>
              <li class="numbers_item color_2_red"><p>2</p></li>
              <li class="numbers_item color_2_red"><p>21</p></li>
              <li class="numbers_item color_1_blue"><p>15</p></li>
              <li class="numbers_item color_3_gray"><p>35</p></li>
              <li class="numbers_item color_2_red"><p>28</p></li>
              <li class="numbers_item color_3_gray"><p>39</p></li>
            </ul>
            <input type="checkbox" name="number_select" class="number_select">
          </li>
          <!-- 랜덤생성 번호 1줄 끝 -->
          <li class="c_n_l_item">
            <ul class="c_n_l_numbers">
              <li class="numbers_item color_0_yellow"><p>1</p></li>
              <li class="numbers_item color_2_red"><p>2</p></li>
              <li class="numbers_item color_2_red"><p>21</p></li>
              <li class="numbers_item color_1_blue"><p>15</p></li>
              <li class="numbers_item color_3_gray"><p>35</p></li>
              <li class="numbers_item color_2_red"><p>28</p></li>
              <li class="numbers_item color_3_gray"><p>39</p></li>
            </ul>
            <input type="checkbox" name="number_select" class="number_select">
          </li>
          <li class="c_n_l_item">
            <ul class="c_n_l_numbers">
              <li class="numbers_item color_0_yellow"><p>1</p></li>
              <li class="numbers_item color_2_red"><p>2</p></li>
              <li class="numbers_item color_2_red"><p>21</p></li>
              <li class="numbers_item color_1_blue"><p>15</p></li>
              <li class="numbers_item color_3_gray"><p>35</p></li>
              <li class="numbers_item color_2_red"><p>28</p></li>
              <li class="numbers_item color_3_gray"><p>39</p></li>
            </ul>
            <input type="checkbox" name="number_select" class="number_select">
          </li>
          <li class="c_n_l_item">
            <ul class="c_n_l_numbers">
              <li class="numbers_item color_0_yellow"><p>1</p></li>
              <li class="numbers_item color_2_red"><p>2</p></li>
              <li class="numbers_item color_2_red"><p>21</p></li>
              <li class="numbers_item color_1_blue"><p>15</p></li>
              <li class="numbers_item color_3_gray"><p>35</p></li>
              <li class="numbers_item color_2_red"><p>28</p></li>
              <li class="numbers_item color_3_gray"><p>39</p></li>
            </ul>
            <input type="checkbox" name="number_select" class="number_select">
          </li>
          <li class="c_n_l_item">
            <ul class="c_n_l_numbers">
              <li class="numbers_item color_0_yellow"><p>1</p></li>
              <li class="numbers_item color_2_red"><p>2</p></li>
              <li class="numbers_item color_2_red"><p>21</p></li>
              <li class="numbers_item color_1_blue"><p>15</p></li>
              <li class="numbers_item color_3_gray"><p>35</p></li>
              <li class="numbers_item color_2_red"><p>28</p></li>
              <li class="numbers_item color_3_gray"><p>39</p></li>
            </ul>
            <input type="checkbox" name="number_select" class="number_select">
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <app-basic-popup-horizon></app-basic-popup-horizon> -->
</ion-content>