@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.create_random_contents {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  padding: 4.83vw;
}

.create_random_contents .create_random_list {
  width: 100%;
}

.create_random_contents .create_random_list .c_r_item {
  background: white;
  margin-bottom: 4.83vw;
  border-radius: 2.42vw;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.create_random_contents .create_random_list .c_r_item .c_r_tit {
  width: 100%;
  background: #32cd93;
  padding: 2.17vw;
  font-size: 4.35vw;
  font-weight: bold;
  color: white;
  text-align: center;
  position: relative;
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .button {
  width: 12.08vw;
  padding: 1.2vw 0;
  border: 1px solid white;
  border-radius: 1.2vw;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .button.remove {
  left: 4.83vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .button.select {
  right: 4.83vw;
  text-indent: -0.8vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .button.create {
  left: 4.83vw;
  text-indent: -0.8vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .button.select_save {
  right: 9.66vw;
  width: 14.49vw;
  text-indent: -0.2vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .number_select_all {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
  clear: both;
  position: absolute;
  top: 50%;
  right: 3.62vw;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_tit .number_select_all:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont {
  padding: 4.83vw 3.62vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont::after {
  content: "";
  clear: both;
  display: table;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  background: #d8d8d8;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item:last-child {
  margin-right: 0;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_0_yellow {
  border-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_0_yellow.win {
  background-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_0_yellow.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_1_blue {
  border-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_1_blue.win {
  background-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_1_blue.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_2_red {
  border-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_2_red.win {
  background-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_2_red.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_3_gray {
  border-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_3_gray.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_4_green {
  border-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_4_green.win {
  background-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .fix_item.color_4_green.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  background: #b3d9ca;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item:last-child {
  margin-right: 0;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_0_yellow {
  border-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_0_yellow.win {
  background-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_0_yellow.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_1_blue {
  border-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_1_blue.win {
  background-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_1_blue.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_2_red {
  border-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_2_red.win {
  background-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_2_red.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_3_gray {
  border-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_3_gray.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_4_green {
  border-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_4_green.win {
  background-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont:not(.created_number_list) .except_item.color_4_green.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item {
  position: relative;
  margin-bottom: 3.62vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item:last-child {
  margin-bottom: 0;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers::after {
  content: "";
  clear: both;
  display: table;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  position: relative;
  margin-right: 1.2vw;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item p {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item:last-child {
  margin-right: 0;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_0_yellow {
  border-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_0_yellow.win {
  background-color: #fbc400;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_0_yellow.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_1_blue {
  border-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_1_blue.win {
  background-color: #69c8f2;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_1_blue.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_2_red {
  border-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_2_red.win {
  background-color: #ff7272;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_2_red.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_3_gray {
  border-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_3_gray.win {
  background-color: #aaaaaa;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_3_gray.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_4_green {
  border-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_4_green.win {
  background-color: #b0d840;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .c_n_l_numbers .numbers_item.color_4_green.win p {
  color: white;
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .number_select {
  width: 4.12vw;
  height: 4.12vw;
  float: right;
  border: 1px solid #aaaaaa;
  border-radius: 0.8vw;
  -webkit-appearance: none;
  vertical-align: middle;
  background: white;
  clear: both;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.create_random_contents .create_random_list .c_r_item .c_r_cont.created_number_list .c_n_l_item .number_select:checked {
  background: white url(../../assets/image/icon_check.png) no-repeat center;
}
/*# sourceMappingURL=create-random.page.css.map */