@import "../../assets/css/_common_vw.scss";

.main_contents{
    
    .this_week_lotto {
        width: 100%; 
        background: $basic_green;
        position: relative; 
        padding: $px25 $px20 $px65;
        .refresh_lotto {
            width: $px30; 
            height: auto;
            position: absolute; 
            top: $px20; 
            left: $px20;
            img { 
                display: block;
                width: 100%; 
            }
        }
        .this_week_info {
            width: 100%; 
            height: auto; 
            text-align: center;
            margin-bottom: $px15;
            .this_week_date {
                color: white; 
                font-size: $px16; 
                letter-spacing: 1px;
            }
            .this_week_times {
                color: white; 
                font-weight: 500;
                font-size: $px50;
                .t_w_t_small { 
                    padding-left: $px10; 
                    color: white; 
                    font-size: $px16; 
                }
            }
        }
        .this_lotto_real {
            width: 100%; 
            padding: $px50 $px20;
            background: white; 
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
            border-radius: $px10;

            .lotto_number {
                @include clearfix

                div[class*=lotto_number] {
                    width: $px35; 
                    height: $px35; 
                    background: white; 
                    float: left;
                    margin-right: $px9;
                    border: 2px solid black; 
                    border-radius: 50%;
                    position: relative; 
                    .l_n_real {
                        display: inline-block;
                        font-weight: bold;
                        font-size: $px15;
                        color: #8a8a8a; 
                        text-indent: -0.2vw;
                        position: absolute; 
                        left: 50%; 
                        top: 50%; 
                        transform: translate(-50%,-50%);
                        margin-top: 0.2px;
                    }
                    &:last-child { margin-right: 0; }
                    &.color_0_yellow { border-color: $color_0n; }
                    &.color_1_blue { border-color: $color_1n; }
                    &.color_2_red { border-color: $color_2n; }
                    &.color_3_gray { border-color: $color_3n; }
                    &.color_4_green { border-color: $color_4n; }
                }
                p.lotto_number_plus {
                    height: $px35;
                    float: left; 
                    margin-right: $px9;
                    img { 
                        position: relative; 
                        top: 50%; 
                        transform: translate(0,-50%); 
                    }
                }
            }
        }
        .qr_code {
            @include clearfix;
            padding: $px10 $px15 $px10 0;
            background: url(../../assets/image/qr_bg.png) no-repeat left bottom; 
            background-size: auto 100%;
            position: absolute; 
            bottom: 0; 
            right: 0; 
            .qr_code_inner {
                float: left; 
                margin-left: $px10; 
                padding-left: $px55;
                color: white; 
                font-size: $px17; 
                letter-spacing: 0;
                background: url(../../assets/image/icon_qr.png) no-repeat $px20 center; 
            }
        }
    }
    .lotto_menu_list {
        width: 100%; 
        background: #f5f5f5;

        > .menu_list_section {
            width: 100%;

            .menu_tit {
                width: 100%; 
                height: $px35; 
                line-height: $px35; 
                text-align: center; 
                color: #777777;
                font: {
                    weight: bold; 
                    size: $px22;
                }
                background: #d8d8d8;
            }
            .menu_list_sub {
                padding: $px20;

                > li {
                    width: 100%; 
                    margin-bottom: $px20;
                    background: white;
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
                    border-radius: $px10;
                    overflow: hidden; 

                    &:last-child { margin-bottom: 0; }
                    a {
                        display: block; 
                        padding: $px10 $px40;
                        font-size: $px22;
                        font-weight: bold;
                        color: #707070;
                    }
                }
            }
        }
    }
}