@charset "UTF-8";
/* 414 기준 */
/* 당첨확인 구입번호목록 체크박스 */
/* 당첨확인 구입번호 같은모양의 태그들 */
/* 로또볼 기본 설정 (아래 숫자는 p태그로 감싸야 먹어요!) */
.main_contents .this_week_lotto {
  width: 100%;
  background: #32cd93;
  position: relative;
  padding: 6.04vw 4.83vw 15.7vw;
}

.main_contents .this_week_lotto .refresh_lotto {
  width: 7.25vw;
  height: auto;
  position: absolute;
  top: 4.83vw;
  left: 4.83vw;
}

.main_contents .this_week_lotto .refresh_lotto img {
  display: block;
  width: 100%;
}

.main_contents .this_week_lotto .this_week_info {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 3.62vw;
}

.main_contents .this_week_lotto .this_week_info .this_week_date {
  color: white;
  font-size: 3.86vw;
  letter-spacing: 1px;
}

.main_contents .this_week_lotto .this_week_info .this_week_times {
  color: white;
  font-weight: 500;
  font-size: 12.08vw;
}

.main_contents .this_week_lotto .this_week_info .this_week_times .t_w_t_small {
  padding-left: 2.42vw;
  color: white;
  font-size: 3.86vw;
}

.main_contents .this_week_lotto .this_lotto_real {
  width: 100%;
  padding: 12.08vw 4.83vw;
  background: white;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2.42vw;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number::after {
  content: "";
  clear: both;
  display: table;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number] {
  width: 8.41vw;
  height: 8.41vw;
  background: white;
  float: left;
  margin-right: 2.17vw;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number] .l_n_real {
  display: inline-block;
  font-weight: bold;
  font-size: 3.62vw;
  color: #8a8a8a;
  text-indent: -0.2vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number]:last-child {
  margin-right: 0;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number].color_0_yellow {
  border-color: #fbc400;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number].color_1_blue {
  border-color: #69c8f2;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number].color_2_red {
  border-color: #ff7272;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number].color_3_gray {
  border-color: #aaaaaa;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number div[class*=lotto_number].color_4_green {
  border-color: #b0d840;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number p.lotto_number_plus {
  height: 8.41vw;
  float: left;
  margin-right: 2.17vw;
}

.main_contents .this_week_lotto .this_lotto_real .lotto_number p.lotto_number_plus img {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.main_contents .this_week_lotto .qr_code {
  padding: 2.42vw 3.62vw 2.42vw 0;
  background: url(../../assets/image/qr_bg.png) no-repeat left bottom;
  background-size: auto 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main_contents .this_week_lotto .qr_code::after {
  content: "";
  clear: both;
  display: table;
}

.main_contents .this_week_lotto .qr_code .qr_code_inner {
  float: left;
  margin-left: 2.42vw;
  padding-left: 13.28vw;
  color: white;
  font-size: 4.12vw;
  letter-spacing: 0;
  background: url(../../assets/image/icon_qr.png) no-repeat 4.83vw center;
}

.main_contents .lotto_menu_list {
  width: 100%;
  background: #f5f5f5;
}

.main_contents .lotto_menu_list > .menu_list_section {
  width: 100%;
}

.main_contents .lotto_menu_list > .menu_list_section .menu_tit {
  width: 100%;
  height: 8.41vw;
  line-height: 8.41vw;
  text-align: center;
  color: #777777;
  font-weight: bold;
  font-size: 5.31vw;
  background: #d8d8d8;
}

.main_contents .lotto_menu_list > .menu_list_section .menu_list_sub {
  padding: 4.83vw;
}

.main_contents .lotto_menu_list > .menu_list_section .menu_list_sub > li {
  width: 100%;
  margin-bottom: 4.83vw;
  background: white;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2.42vw;
  overflow: hidden;
}

.main_contents .lotto_menu_list > .menu_list_section .menu_list_sub > li:last-child {
  margin-bottom: 0;
}

.main_contents .lotto_menu_list > .menu_list_section .menu_list_sub > li a {
  display: block;
  padding: 2.42vw 9.66vw;
  font-size: 5.31vw;
  font-weight: bold;
  color: #707070;
}
/*# sourceMappingURL=home.page.css.map */