
<app-top-header></app-top-header>
<ion-content>
  <div id="wrap" class="main_contents">
      <app-side-bar></app-side-bar>
      <div class="this_week_lotto">
        <button class="refresh_lotto"><img src="../../assets/image/icon_refresh.png" alt="새로고침"></button>
        <div class="this_week_info">
          <p class="this_week_date">2019.03.22</p>
          <p class="this_week_times">852<span class="t_w_t_small">회</span></p>
        </div>
        <div class="this_lotto_real">
          <div class="lotto_number">
            <!-- 메인로또번호 리스트 시작-->
            <div class="lotto_number_1 color_0_yellow"><p class="l_n_real">1</p></div>
            <div class="lotto_number_2 color_1_blue"><p class="l_n_real">11</p></div>
            <div class="lotto_number_3 color_1_blue"><p class="l_n_real">15</p></div>
            <div class="lotto_number_4 color_1_blue"><p class="l_n_real">19</p></div>
            <div class="lotto_number_5 color_2_red"><p class="l_n_real">22</p></div>
            <div class="lotto_number_5 color_3_gray"><p class="l_n_real">31</p></div>
            <p class="lotto_number_plus"><img src="../../assets/image/icon_plus.png" alt="plus"></p> <!-- 리스트에 예외로 보너스 번호 앞 더하기 표시입니다 -->
            <div class="lotto_number_6 color_4_green"><p class="l_n_real">41</p></div>
            <!-- 메인로또번호 리스트 끝-->
          </div>
        </div>
        <div class="qr_code">      
          <p class="qr_code_inner">QR 코드</p>
        </div>
      </div>
      <ul class="lotto_menu_list">
        <li class="menu_list_section">
          <div class="menu_tit">나의 로또</div>
          <ul class="menu_list_sub">
            <li><a href="/check-win-and">당첨확인 & 구입번호 목록</a></li>
            <li><a href="/self-typed-num">구입번호 직접 입력</a></li>
            <li><a href="/saved-number">생성번호 저장 목록</a></li>
          </ul>
        </li>
        <li class="menu_list_section">
          <div class="menu_tit">번호 생성</div>
          <ul class="menu_list_sub">
            <li><a href="/create-random">랜덤생성</a></li>
            <li><a href="/create-self">직접생성</a></li>
          </ul>
        </li>
        <li class="menu_list_section">
          <div class="menu_tit">번호 분석</div>
          <ul class="menu_list_sub">
            <li><a href="/win-number-amount">당첨번호 & 당첨금</a></li>
            <li><a href="#">번호별 출현 횟수</a></li>
          </ul>
        </li>
      </ul>
    </div>
</ion-content>
